[BEGINVDF]
Comment=Rightclick to Quickloot!
BaseDir=.\
VDFName=.\Quickloot.vdf

[FILES]
; Resources (list the specific files from _work here)
; _work\* -r

; Script files
Ninja\Quickloot\* -r
_Work\* -r

[EXCLUDE]
*_DEV.*
[INCLUDE]

[ENDVDF]
